{% extends "base.html" %}
{% block menu %}{% include "menu.html" with active_tab='rule' %}{% endblock %}
{% block content %}
    <style>
    p {text-align:left;font-size: 16px;}
    </style>

    <h3>出题说明</h3>
    <p>  每人出题后要有三个内容：<br>
    1.本人出题的内容、环境和hint。<br>
    2.如何搭建此题的环境的说明，将这些内容打包方便以后作为咱们的题库，所以请尽量详细些。（比如需要python环境，bs4库，文件需要放置到什么位置，如何启动等）<br>
    3.此题的writeup，如果其他同事没有解出无需反复的问出题人，可以在周五下午时将writeup放出供同事学习。(当然在做题过程中询问小tips应该可以的)<br><br>
    <b>注----这个平台是可以写hint的，当出完题时此hint可以先不开放，等到大家做的差不多了，但是没什么思路的时候，可以在数据库中选择公开hint</b><br>
    <b>注2----此平台的github地址：https://github.com/lowkeynic4/uglyctf</b><br>
    </p>

    <h3>
     CTF常见题型:
    </h3>
    <br>
    <p >
    CTF比赛通常包含的题目类型包括MISC、PPC、CRYPTO、PWN、REVERSE、WEB、STEGA。
    <br>
    MISC(Miscellaneous)类型，即安全杂项，题目或涉及流量分析、电子取证、人肉搜索、数据分析等等。
    <br>
    PPC(Professionally Program Coder)类型，即编程类题目，题目涉及到编程算法，相比ACM较为容易。
    <br>
    CRYPTO(Cryptography)类型，即密码学，题目考察各种加解密技术，包括古典加密技术、现代加密技术甚至出题者自创加密技术。
    <br>
    PWN类型，PWN在黑客俚语中代表着攻破、取得权限，多为溢出类题目。
    <br>
    REVERSE类型，即逆向工程，题目涉及到软件逆向、破解技术。
    <br>
    STEGA(Steganography)类型，即隐写术，题目的Flag会隐藏到图片、音频、视频等各类数据载体中供参赛者获取。
    <br>
    WEB类型，即题目会涉及到常见的Web漏洞，诸如注入、XSS、文件包含、代码执行等漏洞。
    </p>

{% endblock %}
